/* Body And Wrapper */

body{
	font-family: 'Roboto';
	margin:0;
	padding:0;
}

.wrapper{
	margin: 80px auto;
	width: 500px;
}

/* Container */

.add-poll{
	background-color: #fbfbfb;
	border: 2px solid #6f767c;
	box-shadow: 3px 2px 2px #6f767c;
}
.add-edit{
	background-color: #fbfbfb;
}

/* Options - Lists*/

.poll-list {
	list-style-type: none;
	padding: 0;
	margin-left: 118px;
}
.poll-list-describe{
	list-style-type: none;
	padding: 0;
	margin:0;
}
.poll-list-edit {
	list-style-type: none;
	padding: 0;
	margin-left: 118px;
}


/* Heading */

h1{
	text-transform: uppercase;
	font-size: 13px;
	margin-bottom: 20px;
	margin-left: 20px;
}

/* Link for Add Choice */

.add-choice{
	font-size: 13px;
	text-decoration: none;
	margin-left: 200px;
	color: #06a8d7;
}

.editadd-choice{
	font-size: 13px;
	text-decoration: none;
	margin-left: 150px;
	color: #06a8d7;
}

#btnCancel{
	font-size: 13px;
	text-decoration: none;
	margin-left: 200px;
	color: #06a8d7;
}
/* Label Text, Choices and Input */

strong{
	font-size: 13px;
	margin-right: 20px;
	margin-left: 30px;
}

input{
	margin-bottom: 10px;
	margin-left: 10px;
}

#multiple-answer{
	margin-left: 118px;
}
#multiple-answer-edit{
	margin-left: 118px;
}

/* Icons */

.icon-del{
	width: 20px;
	height: 20px;
	margin:0;
	padding:0;
	margin-left: 20px;
}
.icon-delete{
	width: 20px;
	height: 20px;
	margin:0;
	padding:0;
	margin-left: 20px;
}
.icon-delete-edit{
	width: 20px;
	height: 20px;
	margin:0;
	padding:0;
	margin-left: 20px;
}
.icon-edit{
	width: 20px;
	height: 20px;
	margin:0;
	padding:0;
	margin-left: 20px;
	margin-top: 10px;
}
/* Buttons */

.button-add{
	background: -webkit-linear-gradient(#54d832, #45b129); /* For Safari 5.1 to 6.0 */
 	background: -o-linear-gradient(#54d832, #45b129); /* For Opera 11.1 to 12.0 */
 	background: -moz-linear-gradient(#54d832, #45b129); /* For Firefox 3.6 to 15 */
 	background: linear-gradient(#54d832, #45b129); /* Standard syntax */
	color: #ffffff;
	font-size: 20px;
	box-shadow: 3px 3px 3px #888888;
	border: 1px solid #888888;
	margin-top: 20px;
	margin-left: 20px;
	margin-bottom: 20px;
}
.button-edit{
	background: -webkit-linear-gradient(#54d832, #45b129); /* For Safari 5.1 to 6.0 */
 	background: -o-linear-gradient(#54d832, #45b129); /* For Opera 11.1 to 12.0 */
 	background: -moz-linear-gradient(#54d832, #45b129); /* For Firefox 3.6 to 15 */
 	background: linear-gradient(#54d832, #45b129); /* Standard syntax */
	color: #ffffff;
	font-size: 20px;
	box-shadow: 3px 3px 3px #888888;
	border: 1px solid #888888;
	margin-top: 40px;
	margin-left: 20px;
	margin-bottom: 20px;
	display: block;
}


/* Innactive Form with Answer */

.inactive-form{
	margin-top:50px;
	padding:0;
	margin:0;
	background-color: #fbfbfb;
    box-shadow: 0px -4px 2px rgba(50, 50, 50, 0.75);
}
.controls{
	display: inline-block;
}
.strong-display{
	display: inline-block;
	margin-bottom: 20px;
}
.questionToAnswer{
	
	margin-bottom: 20px;
	margin:0;
	padding:0;
	margin-left: 20px;
	display: inline-block;
}
#txtAnswers{
	margin-top: 30px;
	margin:0;
	padding:0;
	margin-left: 28px;
	display: inline-block;
}